# Assignment 4

1. Given two strings, s1 and s2, write a program to return a new string made of s1 and s2â€™s first, middle, and last characters all in capital letters.

In [ ]:
s1 = 'ellie' 
s2 = 'jiayi'

In [22]:
s1 = s1.replace("ie","")

In [20]:
s2 = s2.replace("yi","")

In [21]:
s3 = s1 + s2

In [ ]:
s3

In [26]:
s3.upper()

'ELLJIA'

2. Calculate the sum and the averages of the numbers in the following string while ignoring all other characters:

    ```aa4a649##aq#2```

In [29]:
s = "aa4a649##aq#2"

In [30]:
s = s.replace("a","")
s = s.replace("#","")
s = s.replace("q","")

In [31]:
s

'46492'

In [109]:
s = str(s)

In [110]:
len(s)

5

In [111]:
def getSum(s):
     
    strr = str(s)
    list_of_number = list(map(int, strr.strip()))
    return sum(list_of_number)
   
s = 46492
print(getSum(s))

25

In [114]:
avg_value = 25 / 5

In [115]:
avg_value

5.0

3. Extract the last name Culberson from the following legislative action:

    ```WORDS TAKEN DOWN - During the course of debate, exception was taken to certain words used and a demand was made to have words taken down. Mr. Culberson asked unanimous consent to withdraw the words. Without objection the words were withdrawn. The House resumed debate on S. 22 .```

    **Hint:** use the method [split](https://www.w3schools.com/python/ref_string_split.asp)

In [39]:
text = "WORDS TAKEN DOWN - During the course of debate, exception was taken to certain words used and a demand was made to have words taken down. Mr. Culberson asked unanimous consent to withdraw the words. Without objection the words were withdrawn. The House resumed debate on S. 22 ."
x = text.split(".")

In [45]:
x[2][1:10]

'Culberson'

4. Extract the two integers from the following sentence and transform them intro ```int``` type

    ```Passed Senate with amendments by Yea-Nay Vote. 73 - 21. Record Vote Number: 3 . (text: CR S430-557 )```

In [64]:
 text1 = 'Passed Senate with amendments by Yea-Nay Vote. 73 - 21. Record Vote Number: 3 . (text: CR S430-557 )'

In [65]:
y = text1.split(" ")

In [66]:
y

['Passed',
 'Senate',
 'with',
 'amendments',
 'by',
 'Yea-Nay',
 'Vote.',
 '73',
 '-',
 '21.',
 'Record',
 'Vote',
 'Number:',
 '3',
 '.',
 '(text:',
 'CR',
 'S430-557',
 ')']

In [86]:
seventythree = y[7]

In [87]:
seventythree

'73'

In [88]:
seventythree = int(seventythree)

In [89]:
seventythree

73

In [90]:
twentyone = y[9]

In [91]:
twentyone

'21.'

In [92]:
twentyone = twentyone.replace(".","")

In [94]:
twentyone

'21'

In [96]:
twentyone = int(twentyone)

In [97]:
type(twentyone)

int